footer {
  background-color: black;
  color: white;
  margin-top: 50vh;
  padding: 5px 20px 5px 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  /* bottom: 0; */
  /* position: sticky; */
}

#contact {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 0em 5em;
}

footer li {
  list-style: none;
}

#copy {
  margin: 0em 1em;
}

@media (max-width: 1000px) {

}