<footer>
    <p id="copy">Copyright: Alex & Arthur</p>

    <div id="contact">
    <p>Contact:
        <ul>
            <li>@revolalex</li>
            <li>@arthurMV97</li>
        </ul>
    </p>
    </div>
    
</footer>