<header>
  <h1>My Tech-watch Assignator</h1>
</header>
<nav>
  <div class="topnav">
    <a href="http://localhost:3000/">Home</a>
    <a href="http://localhost:3000/StudentsList">Students List</a>
    <a href="http://localhost:3000/History">History Tech-Watch</a>
    <a href="http://localhost:3000/TechWatch">Tech Watch Assignation</a>
    <a href="http://localhost:3000/about/">About</a>
  </div>
</nav>
